<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>US Weather Forecast</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="favicon.ico">
  
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-responsive.no-icons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link  rel="stylesheet" 
    href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css">
  
<link rel=stylesheet href="http://fonts.googleapis.com/css?family=Raleway:300"></link>
<link rel=stylesheet href="http://fonts.googleapis.com/css?family=Oxygen"></link>

<script>
  (function () {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src  = "https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML";
    document.getElementsByTagName("head")[0].appendChild(script);
  })();
</script>
  

<style>
body{
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-top: 60px;
  padding-bottom: 40px;
}

h1,h2,h3,h4 {
  font-family: 'Raleway', sans-serif;
}

.container { width: 1000px; }
h3 {
  background-color: #D4DAEC;
  text-indent: 20px;
}
h3::before {
  content: "#";
  font-size: 40px;
  color: #999;
  line-height: 0;
  display: inline-block;
  margin: 0 6px 0 0;
}
h4 {
  text-indent: 100px;
}

g-table-intro h4 {
  text-indent: 0px;
}
</style>

</head>
<body>
  <div class="container">
    <h1>Spatiotemporal Modelling of US Climate Change</h1>


    <p><br/></p>

    <h3>Temporal Forecasting</h3>

    We use <span class="math inline">\( \mbox{AR}(p), p^{th} \)</span> order autoregressive time series models to model changes. Check out our models <a href='/time'>here!</a> <br>

    <h3>Spatial Forecasting</h3>

    and <a href='/space'>here</a> <br>

    <h3>Spatiotemporal Forecasting!</h3>

    <p>Finally check out our Github repo <a href="https://github.com/harrisonzhu508/ICHackTeam1">here!</a> </p>
   </div>
</body>

  
</html>
