@import url("http://fonts.googleapis.com/css?family=Raleway:300");
@import url("http://fonts.googleapis.com/css?family=Oxygen");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css");

body{
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-top: 60px;
  padding-bottom: 40px;
}

h1,h2,h3,h4 {
  font-family: 'Raleway', sans-serif;
}

.container { width: 1000px; }
h3 {
  background-color: #D4DAEC;
  text-indent: 20px;
}
h3::before {
  content: "#";
  font-size: 40px;
  color: #999;
  line-height: 0;
  display: inline-block;
  margin: 0 6px 0 0;
}
h4 {
  text-indent: 100px;
}

g-table-intro h4 {
  text-indent: 0px;
}

.subpage-heading {
  text-align: center;
}

.gh-invite {
  background-image: linear-gradient(orange 30%, purple 100%);
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.return-home {
  margin: 25px;
}
